<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwingWWTKinect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SwingWWTKinect.Properties.Settings>
            <setting name="RopeDepth" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="TopSlice" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BottomSlice" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ReverseSensor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amplitude" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="LoginUsername" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="LightOnUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="LightOffUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLightsTimeout" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="UpSideDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MiddleSlide" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Preview" serializeAs="String">
                <value>True</value>
            </setting>
        </SwingWWTKinect.Properties.Settings>
    </userSettings>
</configuration>